      <div id="content-container">
	
	<h1>Contact</h1>
	
	<span class="evis">For more information, please contact Nikolas Hemion:</span>
	<span class="evis">nhe</span><span class="einv">@6@</span><span class="evis">mio</span><span class="einv">v72</span><span class="evis">n@a</span><span class="einv">@hk</span><span class="evis">lde</span><span class="einv">qnl</span><span class="evis">bar</span><span class="einv">cut</span><span class="evis">an.</span><span class="einv">cl.</span><span class="evis">com</span>
	<div class="eend"></div>


	<h1>People</h1>

	<h2>Organizing Team</h2>

	<div>
	  <a href="http://a-labs.aldebaran.com/members/nikolas-hemion">Nikolas
	  Hemion</a> (Aldebaran, France)
	</div>
	
	<div>
	  <a href="http://a-labs.aldebaran.com/members/jean-christophe-baillie">Jean-Christophe
	  Baillie</a> (Aldebaran, France)
	</div>
	
	<div>
	  <a href="http://perso.ensta-paristech.fr/~filliat/eng/index.html">David Filliat</a> (ENSTA ParisTech, France)
	</div>
	
	<h2>Founding Committee Members</h2>

	<div>
	  <a href="http://nivea.psycho.univ-paris5.fr/">J. Kevin
	  O'Regan</a> (CNRS and Universit&eacute; Paris Descartes,
	  France)
	</div>
	
	<div>
	  <a href="http://lpp.psycho.univ-paris5.fr/person.php?name=JacquelineF">Jacqueline
	  Fagard</a> (Universit&eacute; Paris Descartes, France)
	</div>
	
	<div>
	  <a href="https://sites.google.com/site/acrsta/">Alex
	  Cristia</a> (Laboratoire de Sciences Cognitives et
	  Psycholinguistique, CNRS, ENS-DEC, EHESS, Paris, France)
	</div>
	
	<div>
	  <a href="http://wwwhomes.uni-bielefeld.de/rohlfing/">Katharina
	  J. Rohlfing</a> (Bielefeld University, Germany)
	</div>
	
      </div>
