      <div id="content-container">
	
	<h1>Pathways of Cognitive Development</h1>
	
	<h1 class="sub-heading">Workshop at the IEEE ICDL-EpiRob 2014</h1>
	
	<div style="color: #ff0000; font-weight: bold; font-size:
	  24px;">Unfortunately the workshop had to be canceled due to
	  weather conditions.</div>
	

	<h2>About</h2>
	
	<div>
	  This half-day workshop forms part of the programme for the
	  <a href="http://www.icub.org/other/icdl-epirob-2014/index.html">Fourth
	  Joint IEEE International Conference on Development and
	  Learning and on Epigenetic Robotics</a>, taking place at the
	  Palazzo Ducale in Genoa (Italy) on Monday the 13th of
	  October 2014. <!-- The workshop will take place in the
	  morning/afternoon from XX:XX to XX:XX - for further details
	  see the <a href="program.html">program</a> page. -->
	</div>

	<h2>Invited Speakers</h2>
	
	<div>
	  <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#lindasmith">Linda
	  B. Smith</a> (Indiana University, USA)
	</div>
	
	<div>
	  <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#sabinehunnius">Sabine
	  Hunnius</a> (Radboud University Nijmegen, Netherlands)
	</div>
	
	<div>
	  <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#frankguerin">Frank
	  Guerin</a> (University of Aberdeen, Scotland)
	</div>
	
	<div>
	  <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#kevinoregan">J. Kevin
	  O'Regan</a> (CNRS and Universit&eacute; Paris Descartes,
	  France)
	</div>
	
	<div style="margin-top: 20px;">
	  <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html">Click here for
	    abstracts of the talks and more details.</a>
	</div>
	
	
	<h2>Workshop Description</h2>
	
	<div>
	  Cognitive development is dynamic and opportunistic,
	  following <em>developmental pathways</em> (<a class="ref"
	  href="https://dx.doi.org/10.1037/a0034185">Smith,
	  2013</a>): The same skill can develop in many different
	  ways, depending on the chains of events and opportunities
	  that are presented to the learning individual. What factors
	  shape these developmental pathways?
	</div>

	<div>
	  On the one hand, according to embodied views of cognition,
	  it is imperative to take the rich interactions between the
	  body and the world into account, and the fact that cognition
	  is inherently multimodal (e.g. <a class="ref"
	  href="https://dx.doi.org/10.1098/rstb.2008.0319">Barsalou,
	  2009</a>; <a class="ref"
	  href="https://dx.doi.org/10.1016/j.dr.2005.11.001">Smith,
	  2005</a>; <a class="ref"
	  href="https://dx.doi.org/10.1038/nrn2811">Pulverm&uuml;ller
	  and Fadiga, 2010</a>). In recent years we have seen many
	  research results demonstrating that <em>multimodality</em>
	  is tremendously helpful or maybe even necessary for
	  successful learning, both in infants and artificial
	  systems. This advances our understanding of what factors
	  influence cognitive development <em>at one point in
	  time</em>. On the other hand, there are also effects on the
	  development of cognition <em>over time</em>, resulting for
	  example from dependencies and influences between
	  concurrently developing skills (<a class="ref"
	  href="https://dx.doi.org/10.1017/S0305000909990432">Iverson,
	  2010</a>).
	</div>

	<div>
	  This workshop gives an overview of how different influences
	  shape <em>pathways of cognitive development</em>. It is
	  explained what effects timing and environmental factors have
	  on cognitive development, as the individual changes and
	  develops over months or years in young infancy. The workshop
	  is organized in the scope of
	  the <a href="http://www.cog-map.org/"><em>Cog-Map
	  project</em></a>, a community effort to collect information
	  about cognitive development for making it available in an
	  accessible manner.
	</div>

	<div>
	  The workshop is targeted at an interdisciplinary audience,
	  as we believe that an understanding of the temporal nature
	  of cognitive development and the circumstances that
	  influence it is important for any researcher in the
	  cognitive sciences (including but not limited to
	  developmental psychologists, cognitive neuroscientists, and
	  the cognitive robotics community).
	</div>


	<h2>Program</h2>
	
	<div style="color: #ff0000; font-weight: bold; font-size:
	  24px;">Unfortunately the workshop had to be canceled due to
	  weather conditions.</div>
	
	<!-- table id="schedule-table">
	  <tr>
	    <td class="schedule-time">2:00&ndash;2:05</td>
	    <td class="schedule-description">Welcome note</td>
	  </tr>
	  <tr>
	    <td class="schedule-time">2:05&ndash;2:45</td>
	    <td class="schedule-description">
	      <div class="schedule-pre">First Keynote:</div>
	      <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#lindasmith">
		<span class="schedule-name">Linda B. Smith</span>
		<span class="schedule-talk">&ldquo;A developmental
		  pathways approach: The body, attention and early
		  word learning&rdquo;</span>
	      </a>
	    </td>
	  </tr>
	  <tr>
	    <td class="schedule-time">2:45&ndash;3:25</td>
	    <td class="schedule-description">
	      <div class="schedule-pre">Second Keynote:</div>
	      <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#sabinehunnius">
		<span class="schedule-name">Sabine Hunnius</span>
		<span class="schedule-talk">&ldquo;Infants' Actions
		  Broaden Their Minds: How active and observational
		  experience shape infants' social
		  understanding&rdquo;</span>
	      </a>
	    </td>
	  </tr>
	  <tr>
	    <td class="schedule-time">3:25&ndash;4:05</td>
	    <td class="schedule-description">
	      <div class="schedule-pre">Third Keynote:</div>
	      <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#frankguerin">
		<span class="schedule-name">Frank Guerin</span>
		<span class="schedule-talk">&ldquo;The Roles of
		  Analogy and Emerging Concepts in Shaping the Pathway
		  of Development&rdquo;</span>
	      </a>
	    </td>
	  </tr>
	  <tr>
	    <td class="schedule-time">4:05&ndash;4:30</td>
	    <td class="schedule-description">Coffee break</td>
	  </tr>
	  <tr>
	    <td class="schedule-time">4:30&ndash;5:10</td>
	    <td class="schedule-description">
	      <div class="schedule-pre">Forth Keynote:</div>
	      <a href="http://www.cog-map.org/icdl-epirob-2014-speakers.html#kevinoregan">
		<span class="schedule-name">J. Kevin O'Regan</span>
		<span class="schedule-talk">&ldquo;How do babies learn
		  to use objects and tools?&rdquo;</span>
	      </a>
	    </td>
	  </tr>
	  <tr>
	    <td class="schedule-time">5:10&ndash;5:20</td>
	    <td class="schedule-description">Jean-Christophe Baillie:
	      Overview of the Cog-Map Project</td>
	  </tr>
	  <tr>
	    <td class="schedule-time">5:20&ndash;6:00</td>
	    <td class="schedule-description">Pannel discussion (chair:
	      Matthew Schlesinger)</td>
	  </tr>
	</table -->
	

	<h2>Workshop Organizations</h2>
	
	<div>
	  The workshop is organized
	  by <a href="http://a-labs.aldebaran.com/members/nikolas-hemion">Nikolas
	  Hemion</a>, <a href="http://a-labs.aldebaran.com/members/jean-christophe-baillie">Jean-Christophe
	  Baillie</a> and <a href="http://perso.ensta-paristech.fr/~filliat/eng/index.html">David Filliat</a>.
	</div>

	<span class="evis">For more information, please contact Nikolas Hemion:</span>
	<span class="evis">nhe</span><span class="einv">@6@</span><span class="evis">mio</span><span class="einv">v72</span><span class="evis">n@a</span><span class="einv">@hk</span><span class="evis">lde</span><span class="einv">qnl</span><span class="evis">bar</span><span class="einv">cut</span><span class="evis">an.</span><span class="einv">cl.</span><span class="evis">com</span>
	<div class="eend"></div>

      </div>
      
