      <div id="content-container">
	
	<h1>Invited Speakers</h1>
	
	<div class="talk-description-container" id="lindasmith">
	  <div class="speaker-photo"><img width="200" height="280" alt="Linda B. Smith" src="lindasmith.jpg"></div>
	  <div class="speaker-name">Linda B. Smith</div>
	  <div class="talk-title">
	    A developmental pathways approach: The body, attention and
	    early word learning
	  </div>
	  <div class="abstract-container">
	    <div class="abstract">
	      
	      <span class="abstract-caption">Abstract</span>
	    
	      In biology, a developmental pathway may be defined as
	      the route, or chain of events, through which a new
	      structure or function forms. Research into these
	      pathways often reveals complex, multi-causal and
	      unexpected dependencies. This talk will consider three
	      developmental pathways &ndash; each begins with the
	      development of coordinated hands and eyes and actions on
	      objects and ends with object name learning. One pathway
	      concerns head stability and the development of
	      stabilized visual attention. A second pathway is from
	      hands and eyes to the perception of 3-dimensional shape
	      and visual object recognition. The third pathway
	      concerns hand-eye coordination and joint action in the
	      development of joint attention. The talk will
	      specifically present data from a series of experiments
	      studying 12 to 24 month old children that used
	      head-mounted scene cameras/eye-trackers and motion
	      sensors to capture the role of hand-eye coordination in
	      these pathways.
	    </div>
	    <div class="abstract">
	      Each of the three pathways is important and informative
	      in its own right, but the overlapping, multi-causal
	      nature of these pathways is the real lesson because they
	      challenge usual analytic approaches in science. The talk
	      concludes with the broader implications of a pathway
	      approach for doing science (analysis is not enough) and
	      for understanding how intelligence is made through
	      systems of interconnected adaptations that accrue in
	      time.
	    </div>
	  </div>
	  <div class="speaker-url">
	    Homepage: <a href="http://psych.indiana.edu/faculty/smith4.php">http://psych.indiana.edu/faculty/smith4.php</a>
	  </div>
	</div>
	
	<div class="talk-description-container" id="sabinehunnius">
	  <div class="speaker-photo"><img width="200" height="280" alt="Sabine Hunnius" src="sabinehunnius.jpg"></div>
	  <div class="speaker-name">Sabine Hunnius</div>
	  <div class="talk-title">
	    Infants' Actions Broaden Their Minds: How active and
	    observational experience shape infants' social
	    understanding
	  </div>
	  <div class="abstract-container">
	    <div class="abstract">
	      
	      <span class="abstract-caption">Abstract</span>
	      
	      From early in life, infants pay attention to the people
	      around them and the actions they perform. They enjoy
	      interacting with others and &ndash; as they grow older &ndash;
	      take pleasure in cooperating with adults in a playful
	      manner. How do infants acquire knowledge about their
	      social environment? How do they develop the ability to
	      understand actions they observe in others? In this talk,
	      I will present a series of behavioral and
	      neurophysiological experiments, which demonstrate how
	      the emergence of social understanding can be studied in
	      infants and toddlers.
	    </div>
	    <div class="abstract">
	      Although the actions we observe in others form a
	      continuous, intricate stream of complex information,
	      even young infants show indications of understanding and
	      predicting other people's actions. However, how exactly
	      infants come to make sense of actions they observe is
	      still a topic of investigation. During the talk, I will
	      discuss different mechanisms that are thought to play a
	      role in infants' emerging understanding of others. In
	      particular, I will present evidence suggesting the
	      importance of infants' own active action experience for
	      their action understanding. Infants' action experience
	      is thought to be crucial for how well they can relate
	      actions they observe to themselves, and this mechanisms
	      likely supports action prediction and action
	      understanding. Also, infants come to an understanding of
	      others' actions through the repeated observation of
	      actions and the effects associated with them. In their
	      daily lives, infants have plenty of opportunities to
	      form associations between observed events and learn
	      about statistical regularities of others' behaviors. I
	      will describe how &ndash; based on active action experience
	      and observational experience &ndash; infants gradually
	      develop more complex action understanding capabilities.
	    </div>
	  </div>
	  <div class="speaker-url">
	    Homepage: <a href="http://www.dcc.ru.nl/babybrain/index.php?staff=hunnius">http://www.dcc.ru.nl/babybrain/index.php?staff=hunnius</a>
	  </div>
	</div>
	
	<div class="talk-description-container" id="frankguerin">
	  <div class="speaker-photo"><img width="200" height="280" alt="Frank Guerin" src="frankguerin.jpg"></div>
	  <div class="speaker-name">Frank Guerin</div>
	  <div class="talk-title">The Roles of Analogy and Emerging
	    Concepts in Shaping the Pathway of Development</div>
	  <div class="abstract-container">
	    <div class="abstract">
	      
	      <span class="abstract-caption">Abstract</span>

	      The same skill can develop in many different ways,
	      depending on the chains of events and opportunities that
	      are presented to the learning individual. While many
	      factors influence these pathways of development, this
	      talk will focus on the roles of analogy and emerging
	      conceptual knowledge.
	    </div>
	    <div class="abstract">
	      When an individual practices on a set of related tasks,
	      the individual can abstract more generic knowledge from
	      the specific experiences to form conceptual
	      knowledge. For example an infant removing items from a
	      variety of containers may begin to form a concept of
	      container and generic knowledge about operations that
	      can be performed with it. This conceptual knowledge then
	      shapes subsequent development in at least three
	      ways. Firstly the individual becomes motivated to seek
	      opportunities to apply this concept in more varied
	      situations, and this changes the training experience
	      that the individual will generate and hence be exposed
	      to. Secondly it changes how the individual sees new
	      situations, because many will now be seen as analogous
	      to the formed concept, and new opportunities to transfer
	      skills are suggested. Thirdly the new concept can be
	      used as a component for constructing more advanced
	      concepts which rely on it. Analogy is an important
	      mechanism in this: it facilitates the abstraction of
	      conceptual knowledge, and the transfer of knowledge to
	      new situations.
	    </div>
	    <div class="abstract">
	      The talk will sketch some pathways of development using
	      these ideas, and explain how the underlying mechanisms
	      might operate in computational terms.
	    </div>
	  </div>
	  <div class="speaker-url">
	    Homepage: <a href="http://homepages.abdn.ac.uk/f.guerin/pages/index.html">http://homepages.abdn.ac.uk/f.guerin/pages/index.html</a>
	  </div>
	</div>
	
	<div class="talk-description-container" id="kevinoregan">
	  <div class="speaker-photo"><img width="200" height="280" alt="J. Kevin O'Regan" src="kevinoregan.jpg"></div>
	  <div class="speaker-name">J. Kevin O'Regan</div>
	  <div class="talk-title">How do babies learn to use objects and tools?</div>
	  <div class="abstract-container">
	    <div class="abstract">

	      <span class="abstract-caption">Abstract</span>

	      If you give a 1-yr old baby a rake-like tool to attain
	      an out of reach toy, the baby will most likely throw the
	      tool at you and ineffectually keep trying to reach out
	      for the toy with its hands. Even if you show the baby
	      how to do it, it will keep throwing the rake away. Adult
	      macaque monkeys behave the same way. However, what
	      differentiates human babies from macaques is that fairly
	      suddenly, around age 18 months, human babies are able to
	      learn from observing someone else doing the task, and
	      succeed.
	    </div>
	    <div class="abstract">
	      In my talk I will describe several studies we have done
	      to try to understand how humans learn to use tools, and
	      why they finally succeed whereas monkeys never do. I
	      will try to link the work to approaches in developmental
	      robotics.
	    </div>
	  </div>
	  <div class="speaker-url">
	    Homepage: <a href="http://nivea.psycho.univ-paris5.fr/">http://nivea.psycho.univ-paris5.fr/</a>
	  </div>
	</div>
	
	<div>
	  <a href="http://www.cog-map.org/icdl-epirob-2014-home.html">Back to the workshop summary page.</a>
	</div>
	
      </div>
