      <div id="content-container">
	
	<h1 style="clear: both;">About Cog-Map</h1>
	
	<div>
	  Cognitive development is dynamic and opportunistic, with
	  many factors shaping the development of a skill. This
	  complexity of cognitive development is mirrored by the
	  enormous number of publications on infant studies in the
	  developmental psychology literature.
	</div>
	
	<div>
	  Cog-Map is intended as a website to help researchers and
	  students to efficiently explore this vast corpus of
	  literature. The website combines a database of
	  meta-information on studies, tools for visualization, and a
	  wiki platform.
	</div>
	
	<h1>Example: Visualization of Age Groups</h1>
	
	<div>
	  There are many possible ways to visualize data about
	  cognitive development. One possibility is to visualize the
	  age of infants that is typically associated with the
	  development of a cognitive skill.
	</div>
	
	<div>
	  Such visualizations summarize information in an intuitive
	  way, to address questions like:
	</div>

	<div class="quote">
	  &ldquo;At what age do infants begin to reach for
	  objects?&rdquo;
	</div>
	
	<div>
	  or
	</div>
	
	<div class="quote">
	  &ldquo;Over what period of time does pointing
	  develop?&rdquo;
	</div>
	
	<div>
	  Someone who is unfamiliar with the literature on the subject
	  would have to rely on encyclopedia articles to find an
	  answers to these questions. But encyclopedia articles do not
	  exist for all topics, and can quickly become outdated.
	</div>
	
	<div>
	  Cog-Map will provide researchers and students with the tools
	  to easily generate visualizations, to explore the literature
	  in a different way than the usual search in databases.
	</div>

	<!-- Beginning of demo snapshot -->

	<div id="plotcontainer_example" style="position: relative;">

	  <div style="width: 610px; height: 500px; position: relative; left: 50%; margin-left: -305px;">
	    
	    <svg width="610" height="500">
	      <g transform="translate(50, 450)">
		
		<g class="grid">
		  <g class="tick" style="opacity: 1;" transform="translate(0,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">0</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(14.166666666666666,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">1</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(28.333333333333332,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">2</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(42.5,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">3</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(56.666666666666664,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">4</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(70.83333333333334,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">5</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(85,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">6</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(99.16666666666666,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">7</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(113.33333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">8</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(127.5,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">9</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(141.66666666666669,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">10</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(155.83333333333331,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">11</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(170,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">12</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(184.16666666666666,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">13</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(198.33333333333331,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">14</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(212.49999999999997,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">15</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(226.66666666666666,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">16</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(240.83333333333331,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">17</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(255,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">18</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(269.1666666666667,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">19</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(283.33333333333337,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">20</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(297.49999999999994,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">21</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(311.66666666666663,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">22</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(325.8333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">23</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(340,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">24</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(354.16666666666663,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">25</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(368.3333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">26</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(382.5,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">27</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(396.66666666666663,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">28</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(410.8333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">29</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(424.99999999999994,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">30</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(439.16666666666663,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">31</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(453.3333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">32</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(467.5,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">33</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(481.66666666666663,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">34</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(495.8333333333333,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">35</text></g>
		  <g class="tick minor" style="opacity: 1;" transform="translate(510,0)"><line y2="-400" x2="0"/><text y="3" x="0" dy=".71em" style="text-anchor: middle;">36</text></g><path class="domain" d="M0,-400V0H510V-400"/></g>
		<g class="grid">
		  <g class="tick" style="opacity: 1;" transform="translate(0,0)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">0</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-50.692904214844106)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">1</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-101.38580842968821)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">2</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-152.0787126445323)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">3</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-202.77161685937642)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">4</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-253.46452107422053)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">5</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-304.1574252890646)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">6</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-354.8503295039087)"><line x2="510" y2="0"/><text x="-3" y="0" dy=".32em" style="text-anchor: end;">7</text></g><path class="domain" d="M510,-400H0V0H510"/></g>
		<g class="axis">
		  <g class="tick" style="opacity: 1;" transform="translate(0,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">0</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(70.83333333333334,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">5</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(141.66666666666669,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">10</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(212.49999999999997,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">15</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(283.33333333333337,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">20</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(354.16666666666663,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">25</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(424.99999999999994,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">30</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(495.8333333333333,0)"><line y2="7" x2="0"/><text y="10" x="0" dy=".71em" style="text-anchor: middle;">35</text></g><path class="domain" d="M0,7V0H510V7"/></g>
		<g class="axis">
		  <g class="tick" style="opacity: 1;" transform="translate(0,0)"><line x2="-7" y2="0"/><text x="-10" y="0" dy=".32em" style="text-anchor: end;">0</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-101.38580842968821)"><line x2="-7" y2="0"/><text x="-10" y="0" dy=".32em" style="text-anchor: end;">2</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-202.77161685937642)"><line x2="-7" y2="0"/><text x="-10" y="0" dy=".32em" style="text-anchor: end;">4</text></g>
		  <g class="tick" style="opacity: 1;" transform="translate(0,-304.1574252890646)"><line x2="-7" y2="0"/><text x="-10" y="0" dy=".32em" style="text-anchor: end;">6</text></g><path class="domain" d="M-7,-400H0V0H-7"/></g><text x="510" y="44.5" style="font-size: 15px; text-anchor: end;">age in months</text>
		<g transform="translate(-29.5,-400)">
		  <g transform="rotate(270)"><text x="0" y="0" style="font-size: 15px; text-anchor: end;">number of articles</text></g></g>
		<g hold="false" class="age-distribution-visualization"><path d="M0,0L1.1805555555555554,0C2.3611111111111107,0,4.722222222222221,0,7.083333333333332,0C9.444444444444443,0,11.805555555555554,0,14.166666666666664,0C16.527777777777775,0,18.888888888888886,0,21.25,0C23.611111111111107,0,25.972222222222218,0,28.333333333333332,-0.010266223172603247C30.694444444444443,-0.020532446345206495,33.05555555555556,-0.04106489269041299,35.41666666666667,-0.09001371310196438C37.77777777777778,-0.13896253351351576,40.138888888888886,-0.216327727991412,42.5,-0.37385754428404483C44.86111111111111,-0.5313873605766777,47.222222222222214,-0.769081798684047,49.58333333333333,-1.1856647062648662C51.944444444444436,-1.6022476138456856,54.30555555555554,-2.197718990899955,56.66666666666666,-3.1036474301657955C59.02777777777777,-4.009575869431636,61.388888888888886,-5.225961370909047,63.75,-6.847178872933542C66.11111111111111,-8.468396374958036,68.47222222222223,-10.494445877529612,70.83333333333334,-12.88330877681982C73.19444444444444,-15.272171676110027,75.55555555555554,-18.023847972118865,77.91666666666666,-20.923328733221403C80.27777777777777,-23.822809494323938,82.63888888888889,-26.87009472052017,85,-29.790107927967917C87.36111111111111,-32.71012113541566,89.72222222222221,-35.502862324114915,92.08333333333333,-37.989622864228224C94.44444444444443,-40.47638340434153,96.80555555555554,-42.6571632958689,99.16666666666664,-44.593440430478665C101.52777777777776,-46.52971756508842,103.88888888888886,-48.22149194278056,106.24999999999997,-49.96058619720804C108.61111111111109,-51.699680451635516,110.9722222222222,-53.48609458279833,113.33333333333331,-55.714534368910826C115.69444444444443,-57.94297415502333,118.05555555555554,-60.61343959608551,120.41666666666666,-64.01340441642714C122.77777777777777,-67.41336923676874,125.13888888888889,-71.5428334363898,127.5,-76.36950805538176C129.86111111111111,-81.19618267437372,132.22222222222223,-86.72006771273661,134.58333333333334,-92.5395616812869C136.94444444444446,-98.35905564983719,139.30555555555557,-104.47415854857488,141.66666666666669,-110.3426013375367C144.02777777777777,-116.21104412649855,146.38888888888886,-121.83282680568453,148.74999999999997,-126.86598006138067C151.1111111111111,-131.8991333170768,153.4722222222222,-136.3436571492831,155.83333333333331,-140.31773469349818C158.19444444444443,-144.29181223771323,160.55555555555554,-147.79544349393706,162.91666666666666,-151.3361284037236C165.27777777777777,-154.87681331351018,167.63888888888889,-158.45455187685945,170,-162.66157702899312C172.3611111111111,-166.8686021811268,174.7222222222222,-171.70491392204482,177.08333333333331,-177.4447928212651C179.44444444444443,-183.18467172048537,181.80555555555554,-189.82811777800788,184.16666666666666,-197.03937547781308C186.52777777777777,-204.25063317761828,188.88888888888889,-212.02970251970618,191.25,-219.48538094609648C193.6111111111111,-226.94105937248682,195.9722222222222,-234.07334688317957,198.33333333333331,-239.96103644643392C200.6944444444444,-245.84872600968825,203.05555555555554,-250.49181762550418,205.41666666666663,-253.55269088949095C207.77777777777774,-256.6135641534777,210.13888888888886,-258.0922190656353,212.49999999999994,-258.57954360481665C214.86111111111106,-259.0668681439981,217.22222222222217,-258.5628623102033,219.5833333333333,-258.3037035101511C221.9444444444444,-258.04454471009893,224.30555555555551,-258.0302329437894,226.66666666666663,-259.39699237840466C229.02777777777774,-260.76375181301995,231.38888888888886,-263.51158244856003,233.74999999999997,-267.9797062571031C236.1111111111111,-272.44783006564614,238.4722222222222,-278.6362470471921,240.83333333333331,-285.88802385141713C243.19444444444443,-293.13980065564215,245.55555555555554,-301.4549372825462,247.91666666666666,-309.61904606261805C250.27777777777777,-317.78315484268995,252.63888888888889,-325.79623577592963,255,-332.6525682994583C257.3611111111111,-339.508900822987,259.7222222222222,-345.2084849368048,262.0833333333333,-349.4563460992803C264.44444444444446,-353.70420726175587,266.80555555555554,-356.5003454728893,269.1666666666667,-358.26412583539087C271.52777777777777,-360.0279061978925,273.8888888888889,-360.75932871176235,276.25,-361.1524858761129C278.6111111111111,-361.54564304046346,280.97222222222223,-361.6005348552947,283.33333333333337,-361.8759414239903C285.69444444444446,-362.1513479926859,288.05555555555554,-362.6472693152458,290.41666666666663,-363.5382383451908C292.7777777777777,-364.42920737513583,295.1388888888888,-365.71522411246593,297.49999999999994,-367.1935560021166C299.8611111111111,-368.6718878917673,302.2222222222222,-370.3425349337386,304.5833333333333,-371.61791944086895C306.9444444444444,-372.89330394799924,309.30555555555554,-373.77342592028856,311.66666666666663,-373.4939385449244C314.0277777777777,-373.2144511695603,316.38888888888886,-371.7753544465426,318.75,-368.55795737388746C321.1111111111111,-365.3405603012323,323.4722222222222,-360.3448628789397,325.83333333333326,-353.4979242742021C328.19444444444446,-346.6509856694645,330.55555555555554,-337.95280588228195,332.9166666666667,-328.06370206254786C335.27777777777777,-318.1745982428138,337.6388888888889,-307.09457039052813,340,-296.0218112495799C342.3611111111111,-284.9490521086317,344.7222222222222,-273.8835616790208,347.0833333333333,-263.98048480126954C349.4444444444444,-254.07740792351825,351.80555555555554,-245.33674459762656,354.16666666666663,-238.313139674399C356.5277777777777,-231.28953475117146,358.8888888888888,-225.98298823060807,361.25,-222.19595350015072C363.6111111111111,-218.4089187696934,365.9722222222222,-216.14139582934212,368.3333333333333,-214.7490151552763C370.6944444444444,-213.35663448121053,373.05555555555554,-212.83939607343024,375.41666666666663,-212.5406619237736C377.7777777777777,-212.24192777411696,380.13888888888886,-212.16169788258398,382.5,-211.93789530182167C384.8611111111111,-211.71409272105933,387.2222222222222,-211.34671745106772,389.58333333333326,-210.7978341239018C391.94444444444434,-210.24895079673587,394.3055555555555,-209.5185594123957,396.66666666666663,-208.75879794285115C399.0277777777777,-207.99903647330655,401.3888888888888,-207.20990491855758,403.74999999999994,-206.50488207897155C406.1111111111111,-205.79985923938548,408.4722222222222,-205.17894511496235,410.8333333333333,-204.68959958327733C413.1944444444444,-204.2002540515923,415.55555555555554,-203.8424771126454,417.91666666666663,-203.56289157501203C420.2777777777777,-203.28330603737862,422.6388888888888,-203.08191190105873,424.9999999999999,-202.88569948752712C427.36111111111103,-202.68948707399554,429.7222222222222,-202.49845638325226,432.08333333333326,-202.18339675066701C434.4444444444444,-201.86833711808174,436.8055555555555,-201.4292485436545,439.16666666666663,-200.6943975012013C441.5277777777777,-199.95954645874818,443.88888888888886,-198.9289329482691,446.25,-197.37612916102563C448.6111111111111,-195.82332537378213,450.9722222222222,-193.74833130977422,453.33333333333326,-191.01577428375543C455.69444444444434,-188.28321725773668,458.0555555555555,-184.89309726970708,460.41666666666663,-180.88749328201803C462.7777777777777,-176.88188929432894,465.1388888888888,-172.2608013069804,467.49999999999994,-167.3487495329801C469.8611111111111,-162.43669775897982,472.2222222222222,-157.23368219832776,474.5833333333333,-152.1483850879261C476.9444444444444,-147.06308797752448,479.30555555555554,-142.09550931737326,481.66666666666663,-137.46330876700125C484.0277777777777,-132.83110821662922,486.3888888888888,-128.53428577603643,488.7499999999999,-124.39995415716074C491.11111111111103,-120.26562253828504,493.4722222222222,-116.29378174112647,495.83333333333326,-112.0071352558115C498.1944444444444,-107.72048877049656,500.5555555555555,-103.11903659702523,502.91666666666663,-97.81409164414919C505.2777777777777,-92.50914669127314,507.63888888888886,-86.50070895899239,508.81944444444446,-83.49649009285201L510,-80.49227122671164" class="age-distribution" style="stroke: rgb(31, 119, 180); opacity: 1;"/></g>
		<g hold="false" class="age-distribution-visualization"><path d="M0,-0.3552902615049277L1.1805555555555554,-0.5128200777975604C2.3611111111111107,-0.6703498940901933,4.722222222222221,-0.985409526675459,7.083333333333332,-1.5595222505489112C9.444444444444443,-2.133634974422363,11.805555555555554,-2.966800789584002,14.166666666666664,-4.289312136430662C16.527777777777775,-5.6118234832773215,18.888888888888886,-7.423680361809003,21.25,-9.950826303099337C23.611111111111107,-12.477972244389672,25.972222222222218,-15.720407248438658,28.333333333333332,-19.730487649753357C30.694444444444443,-23.74056805106806,33.05555555555556,-28.518293849648472,35.41666666666667,-33.80663751004121C37.77777777777778,-39.09498117043396,40.138888888888886,-44.89394269263903,42.5,-50.692904214844106C44.86111111111111,-56.49186573704918,47.222222222222214,-62.29082725925426,49.58333333333333,-67.579170919647C51.944444444444436,-72.86751458003974,54.30555555555554,-77.64524037862016,56.66666666666666,-81.65532077993487C59.02777777777777,-85.66540118124956,61.388888888888886,-88.90783618529855,63.75,-91.42471590341628C66.11111111111111,-93.94159562153402,68.47222222222223,-95.73292005372048,70.83333333333334,-97.01674880332818C73.19444444444444,-98.30057755293588,75.55555555555554,-99.07691061996482,77.91666666666666,-99.54244234795719C80.27777777777777,-100.00797407594956,82.63888888888889,-100.16270446490536,85,-100.12039623349396C87.36111111111111,-100.07808800208258,89.72222222222221,-99.83874115030397,92.08333333333333,-99.45755948261467C94.44444444444443,-99.07637781492535,96.80555555555554,-98.5533613313253,99.16666666666664,-98.0161345312045C101.52777777777776,-97.47890773108368,103.88888888888886,-96.92747061444209,106.24999999999997,-96.62535694516875C108.61111111111109,-96.32324327589541,110.9722222222222,-96.27045305399031,113.33333333333331,-96.83355967090907C115.69444444444443,-97.3966662878278,118.05555555555554,-98.57566974357039,120.41666666666666,-100.66241897358725C122.77777777777777,-102.7491682036041,125.13888888888889,-105.74366320789524,127.5,-109.70660222455626C129.86111111111111,-113.66954124121726,132.22222222222223,-118.60092427024814,134.58333333333334,-124.29558461504911C136.94444444444446,-129.99024495985006,139.30555555555557,-136.4481826204211,141.66666666666669,-143.3087949624268C144.02777777777777,-150.1694073044325,146.38888888888886,-157.43269432787284,148.74999999999997,-164.67407120568248C151.1111111111111,-171.9154480834921,153.4722222222222,-179.134914815671,155.83333333333331,-185.876679938623C158.19444444444443,-192.618445061575,160.55555555555554,-198.88250857530005,162.91666666666666,-204.23048441116234C165.27777777777777,-209.57846024702462,167.63888888888889,-214.0103484050241,170,-217.21783107782636C172.3611111111111,-220.42531375062865,174.7222222222222,-222.4083909382337,177.08333333333331,-223.10421510662292C179.44444444444443,-223.8000392750121,181.80555555555554,-223.2086104241854,184.16666666666666,-221.59853144971495C186.52777777777777,-219.98845247524451,188.88888888888889,-217.35972337713036,191.25,-214.17180268402262C193.6111111111111,-210.98388199091485,195.9722222222222,-207.2367697028135,198.33333333333331,-203.42418738708307C200.6944444444444,-199.61160507135264,203.05555555555554,-195.73355272799316,205.41666666666663,-192.13462216432896C207.77777777777774,-188.5356916006648,210.13888888888886,-185.2158828166959,212.49999999999994,-182.32538260671328C214.86111111111106,-179.43488239673064,217.22222222222217,-176.97369076073429,219.5833333333333,-174.89923330972485C221.9444444444444,-172.82477585871538,224.30555555555551,-171.13705259269284,226.66666666666663,-169.69012098976808C229.02777777777774,-168.24318938684334,231.38888888888886,-167.0370494470164,233.74999999999997,-165.87026048070447C236.1111111111111,-164.7034715143926,238.4722222222222,-163.57603352159575,240.83333333333331,-162.2432559515765C243.19444444444443,-160.91047838155725,245.55555555555554,-159.37236123431558,247.91666666666666,-157.3786764918795C250.27777777777777,-155.38499174944346,252.63888888888889,-152.93573941181302,255,-149.9698995631873C257.3611111111111,-147.00405971456158,259.7222222222222,-143.52163235494055,262.0833333333333,-139.7336334216838C264.44444444444446,-135.94563448842706,266.80555555555554,-131.85206398153463,269.1666666666667,-127.82756995916971C271.52777777777777,-123.80307593680479,273.8888888888889,-119.84765839896741,276.25,-116.27469335157875C278.6111111111111,-112.70172830419007,280.97222222222223,-109.5112157472501,283.33333333333337,-106.88157606431352C285.69444444444446,-104.25193638137695,288.05555555555554,-102.18316957244375,290.41666666666663,-100.82465536849746C292.7777777777777,-99.46614116455117,295.1388888888888,-98.8178795655918,297.49999999999994,-99.09434292399162C299.8611111111111,-99.37080628239144,302.2222222222222,-100.57199459815044,304.5833333333333,-102.83344685915245C306.9444444444444,-105.09489912015442,309.30555555555554,-108.41661532639941,311.66666666666663,-112.62267108882654C314.0277777777777,-116.82872685125369,316.38888888888886,-121.91912216986299,318.75,-127.23320246418277C321.1111111111111,-132.54728275850255,323.4722222222222,-138.08504802853278,325.83333333333326,-142.86020435906903C328.19444444444446,-147.6353606896053,330.55555555555554,-151.64790808064757,332.9166666666667,-153.98225666899657C335.27777777777777,-156.31660525734554,337.6388888888889,-156.97275504300126,340,-155.57190803502598C342.3611111111111,-154.1710610270507,344.7222222222222,-150.71321722544448,347.0833333333333,-145.56315660705187C349.4444444444444,-140.41309598865925,351.80555555555554,-133.57081855348022,354.16666666666663,-125.97451712297003C356.5277777777777,-118.37821569245983,358.8888888888888,-110.02789026661847,361.25,-101.93509926048424C363.6111111111111,-93.84230825434999,365.9722222222222,-86.00705166792287,368.3333333333333,-79.09929794126349C370.6944444444444,-72.19154421460412,373.05555555555554,-66.2112933477125,375.41666666666663,-61.354499550716106C377.7777777777777,-56.49770575371972,380.13888888888886,-52.76436902661857,382.5,-50.03557760186634C384.8611111111111,-47.30678617711412,387.2222222222222,-45.58254005471082,389.58333333333326,-44.59184442325655C391.94444444444434,-43.60114879180229,394.3055555555555,-43.34400365129706,396.66666666666663,-43.49061306011257C399.0277777777777,-43.63722246892809,401.3888888888888,-44.187586427064346,403.74999999999994,-44.84706796033436C406.1111111111111,-45.50654949360436,408.4722222222222,-46.27514860200811,410.8333333333333,-46.96990521842156C413.1944444444444,-47.664661834835,415.55555555555554,-48.28557595925814,417.91666666666663,-48.764655267770564C420.2777777777777,-49.24373457628298,422.6388888888888,-49.58097906888468,424.9999999999999,-49.801349562933915C427.36111111111103,-50.021720056983156,429.7222222222222,-50.12521655247994,432.08333333333326,-50.125216552479934C434.4444444444444,-50.12521655247994,436.8055555555555,-50.021720056983156,439.16666666666663,-49.80134956293391C441.5277777777777,-49.58097906888467,443.88888888888886,-49.243734576282975,446.25,-48.76465526777056C448.6111111111111,-48.28557595925814,450.9722222222222,-47.664661834835,453.33333333333326,-46.94937277207635C455.69444444444434,-46.234083709317694,458.0555555555555,-45.42441970822353,460.41666666666663,-44.64650808778522C462.7777777777777,-43.868596467346904,465.1388888888888,-43.12243722756443,467.49999999999994,-42.56287054534055C469.8611111111111,-42.00330386311667,472.2222222222222,-41.63032973845138,474.5833333333333,-41.47279992215874C476.9444444444444,-41.31527010586611,479.30555555555554,-41.37318459794614,481.66666666666663,-41.46721955217765C484.0277777777777,-41.56125450640916,486.3888888888888,-41.691409922792154,488.7499999999999,-41.55312688079203C491.11111111111103,-41.414843838791896,493.4722222222222,-41.008122338408654,495.83333333333326,-40.102193899142804C498.1944444444444,-39.19626545987697,500.5555555555555,-37.791130081728525,502.91666666666663,-35.89161271412335C505.2777777777777,-33.992095346518155,507.63888888888886,-31.598195989456226,508.81944444444446,-30.40124631092526L510,-29.204296632394293" class="age-distribution" style="stroke: rgb(255, 127, 14); opacity: 1;"/></g>
		<g hold="false" class="age-distribution-visualization"><path d="M0,-12.52049538010119L1.1805555555555554,-13.906599751278211C2.3611111111111107,-15.292704122455232,4.722222222222221,-18.064912864809276,7.083333333333332,-21.013342446323364C9.444444444444443,-23.961772027837455,11.805555555555554,-27.086422448511588,14.166666666666664,-30.14343302590676C16.527777777777775,-33.20044360330193,18.888888888888886,-36.189814337418134,21.25,-38.99526014428916C23.611111111111107,-41.80070595116018,25.972222222222218,-44.42222683078603,28.333333333333332,-46.959638995248966C30.694444444444443,-49.4970511597119,33.05555555555556,-51.950354609011924,35.41666666666667,-54.53671559388641C37.77777777777778,-57.1230765787609,40.138888888888886,-59.842495099209856,42.5,-62.84415331961246C44.86111111111111,-65.84581154001506,47.222222222222214,-69.12970946037133,49.58333333333333,-72.72215016440101C51.944444444444436,-76.31459086843068,54.30555555555554,-80.21557435613377,56.66666666666666,-84.36766806544085C59.02777777777777,-88.5197617747479,61.388888888888886,-92.92296570565895,63.75,-97.55150508088495C66.11111111111111,-102.18004445611095,68.47222222222223,-107.03391927565191,70.83333333333334,-112.0775568745976C73.19444444444444,-117.12119447354331,75.55555555555554,-122.35459485189374,77.91666666666666,-127.61320739474442C80.27777777777777,-132.87181993759512,82.63888888888889,-138.15564464494608,85,-143.2227791416623C87.36111111111111,-148.28991363837855,89.72222222222221,-153.14035792446003,92.08333333333333,-157.60911134469004C94.44444444444443,-162.07786476491998,96.80555555555554,-166.16492731929844,99.16666666666664,-169.88644163185984C101.52777777777776,-173.60795594442124,103.88888888888886,-176.96392201516562,106.24999999999997,-180.02041082885563C108.61111111111109,-183.07689964254564,110.9722222222222,-185.83391119918127,113.33333333333331,-188.16654943709747C115.69444444444443,-190.49918767501367,118.05555555555554,-192.40745259421038,120.41666666666666,-193.53257612756795C122.77777777777777,-194.65769966092546,125.13888888888889,-194.99968180844382,127.5,-194.25469069956608C129.86111111111111,-193.5096995906884,132.22222222222223,-191.67773522541466,134.58333333333334,-188.7711967434266C136.94444444444446,-185.86465826143854,139.30555555555557,-181.88354566273614,141.66666666666669,-177.17485222226767C144.02777777777777,-172.46615878179924,146.38888888888886,-167.02988449956473,148.74999999999997,-161.23284580759403C151.1111111111111,-155.4358071156233,153.4722222222222,-149.27800401391642,155.83333333333331,-142.85962489036507C158.19444444444443,-136.44124576681372,160.55555555555554,-129.76229062141792,162.91666666666666,-122.74766624931026C165.27777777777777,-115.7330418772026,167.63888888888889,-108.3827482783831,170,-100.72597143944495C172.3611111111111,-93.06919460050676,174.7222222222222,-85.10593452144991,177.08333333333331,-77.17813365789353C179.44444444444443,-69.25033279433714,181.80555555555554,-61.3579911462812,184.16666666666666,-54.002334078818045C186.52777777777777,-46.64667701135488,188.88888888888889,-39.82770452448449,191.25,-33.8958930302096C193.6111111111111,-27.964081535934707,195.9722222222222,-22.919431034255318,198.33333333333331,-18.81702602914191C200.6944444444444,-14.714621024028503,203.05555555555554,-11.554461515481082,205.41666666666663,-9.1387607955339C207.77777777777774,-6.723060075586718,210.13888888888886,-5.0518181442397765,212.49999999999994,-3.8410962955612744C214.86111111111106,-2.630374446882773,217.22222222222217,-1.8801726808727128,219.5833333333333,-1.3656921324687918C221.9444444444444,-0.8512115840648707,224.30555555555551,-0.5724522532670893,226.66666666666663,-0.3943899906292504C229.02777777777774,-0.21632772799141156,231.38888888888886,-0.1389625335135154,233.74999999999997,-0.09001371310196413C236.1111111111111,-0.041064892690412844,238.4722222222222,-0.020532446345206422,240.83333333333331,-0.010266223172603211C243.19444444444443,0,245.55555555555554,0,247.91666666666666,0C250.27777777777777,0,252.63888888888889,0,255,0C257.3611111111111,0,259.7222222222222,0,262.0833333333333,0C264.44444444444446,0,266.80555555555554,0,269.1666666666667,0C271.52777777777777,0,273.8888888888889,0,276.25,0C278.6111111111111,0,280.97222222222223,0,283.33333333333337,0C285.69444444444446,0,288.05555555555554,0,290.41666666666663,0C292.7777777777777,0,295.1388888888888,0,297.49999999999994,0C299.8611111111111,0,302.2222222222222,0,304.5833333333333,0C306.9444444444444,0,309.30555555555554,0,311.66666666666663,0C314.0277777777777,0,316.38888888888886,0,318.75,0C321.1111111111111,0,323.4722222222222,0,325.83333333333326,0C328.19444444444446,0,330.55555555555554,0,332.9166666666667,0C335.27777777777777,0,337.6388888888889,0,340,0C342.3611111111111,0,344.7222222222222,0,347.0833333333333,0C349.4444444444444,0,351.80555555555554,0,354.16666666666663,0C356.5277777777777,0,358.8888888888888,0,361.25,0C363.6111111111111,0,365.9722222222222,0,368.3333333333333,0C370.6944444444444,0,373.05555555555554,0,375.41666666666663,0C377.7777777777777,0,380.13888888888886,0,382.5,0C384.8611111111111,0,387.2222222222222,0,389.58333333333326,0C391.94444444444434,0,394.3055555555555,0,396.66666666666663,0C399.0277777777777,0,401.3888888888888,0,403.74999999999994,0C406.1111111111111,0,408.4722222222222,0,410.8333333333333,0C413.1944444444444,0,415.55555555555554,0,417.91666666666663,0C420.2777777777777,0,422.6388888888888,0,424.9999999999999,0C427.36111111111103,0,429.7222222222222,0,432.08333333333326,0C434.4444444444444,0,436.8055555555555,0,439.16666666666663,0C441.5277777777777,0,443.88888888888886,0,446.25,0C448.6111111111111,0,450.9722222222222,0,453.33333333333326,0C455.69444444444434,0,458.0555555555555,0,460.41666666666663,0C462.7777777777777,0,465.1388888888888,0,467.49999999999994,0C469.8611111111111,0,472.2222222222222,0,474.5833333333333,0C476.9444444444444,0,479.30555555555554,0,481.66666666666663,0C484.0277777777777,0,486.3888888888888,0,488.7499999999999,0C491.11111111111103,0,493.4722222222222,0,495.83333333333326,0C498.1944444444444,0,500.5555555555555,0,502.91666666666663,0C505.2777777777777,0,507.63888888888886,0,508.81944444444446,0L510,0" class="age-distribution" style="stroke: rgb(44, 160, 44); opacity: 1;"/></g>
		<g class="age-intervals-visualization"><rect x="849.9999999999999" y="-400" width="-339.9999999999999" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="504.9" y="-400" width="5.100000000000023" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="84.05555555555554" y="-400" width="129.8611111111111" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="111.44444444444444" y="-400" width="110.49999999999996" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="1544.1666666666665" y="-400" width="-1034.1666666666665" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="1544.1666666666665" y="-400" width="-1034.1666666666665" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="849.9999999999999" y="-400" width="-339.9999999999999" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="240.83333333333331" y="-400" width="85" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="882.3" y="-400" width="-372.29999999999995" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="141.66666666666669" y="-400" width="198.33333333333331" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="356.43333333333334" y="-400" width="32.1583333333333" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="184.59166666666664" y="-400" width="40.09166666666667" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="241.825" y="-400" width="23.799999999999955" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="303.875" y="-400" width="36.26666666666665" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="353.175" y="-400" width="40.65833333333336" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="382.5" y="-400" width="85" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="524.1666666666666" y="-400" width="-14.166666666666629" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="680" y="-400" width="-170" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="552.5" y="-400" width="-42.5" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="680" y="-400" width="-170" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="255" y="-400" width="255" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="510" y="-400" width="0" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="722.4999999999999" y="-400" width="-212.4999999999999" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="864.1666666666666" y="-400" width="-354.16666666666663" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="141.66666666666669" y="-400" width="70.83333333333329" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="226.66666666666666" y="-400" width="70.83333333333329" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="311.66666666666663" y="-400" width="70.83333333333337" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="396.66666666666663" y="-400" width="70.83333333333337" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/><rect x="481.66666666666663" y="-400" width="28.33333333333337" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="255" y="-400" width="85" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="198.33333333333331" y="-400" width="283.3333333333333" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="1360" y="-400" width="-850" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="198.33333333333331" y="-400" width="141.66666666666669" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="736.6666666666666" y="-400" width="-226.66666666666663" height="400" class="age-rect" style="fill: rgb(31, 119, 180); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="85" y="-400" width="240.83333333333331" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="38.249999999999986" y="-400" width="305.99999999999994" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="85" y="-400" width="240.83333333333331" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="163.38888888888889" y="-400" width="30.2222222222222" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="170.94444444444443" y="-400" width="19.361111111111114" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="251.22222222222223" y="-400" width="13.222222222222229" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="195.97222222222223" y="-400" width="12.749999999999972" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="252.16666666666669" y="-400" width="8.972222222222229" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="194.55555555555551" y="-400" width="12.2777777777778" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="141.66666666666669" y="-400" width="70.83333333333329" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="226.66666666666666" y="-400" width="70.83333333333329" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="311.66666666666663" y="-400" width="70.83333333333337" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="396.66666666666663" y="-400" width="70.83333333333337" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="481.66666666666663" y="-400" width="28.33333333333337" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="333.38888888888886" y="-400" width="12.750000000000057" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="653.0833333333333" y="-400" width="-143.08333333333326" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="328.66666666666663" y="-400" width="22.194444444444457" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="657.3333333333333" y="-400" width="-147.33333333333326" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="328.19444444444446" y="-400" width="25.027777777777715" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="653.5555555555555" y="-400" width="-143.55555555555554" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="345.66666666666663" y="-400" width="12.183333333333394" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="155.83333333333331" y="-400" width="99.16666666666669" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="155.83333333333331" y="-400" width="99.16666666666669" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="325.8333333333333" y="-400" width="28.333333333333314" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="45.71111111111111" y="-400" width="29.46666666666667" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="73.57222222222222" y="-400" width="37.022222222222226" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="54.49444444444445" y="-400" width="25.122222222222227" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="76.97222222222223" y="-400" width="24.55555555555553" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="46.51388888888888" y="-400" width="27.955555555555556" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="68.75555555555555" y="-400" width="44.76666666666668" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="213.91666666666663" y="-400" width="17.00000000000003" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="213.91666666666663" y="-400" width="17.00000000000003" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="128.44444444444443" y="-400" width="13.222222222222257" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="127.5" y="-400" width="14.638888888888886" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="143.08333333333331" y="-400" width="14.166666666666657" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="143.55555555555554" y="-400" width="14.638888888888886" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="155.83333333333331" y="-400" width="15.111111111111114" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/><rect x="155.83333333333331" y="-400" width="15.111111111111114" height="400" class="age-rect" style="fill: rgb(255, 127, 14); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="52.888888888888886" y="-400" width="1.8888888888888857" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="56.19444444444444" y="-400" width="1.8888888888889" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="60.916666666666664" y="-400" width="1.4166666666666714" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="63.27777777777778" y="-400" width="1.4166666666666643" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="66.11111111111111" y="-400" width="1.8888888888889" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="9.916666666666664" y="-400" width="161.97222222222223" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="120.88888888888889" y="-400" width="13.222222222222229" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="136.99166666666665" y="-400" width="17.850000000000023" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="161.5" y="-400" width="23.09166666666664" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="128.91666666666666" y="-400" width="6.611111111111114" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="128.91666666666666" y="-400" width="13.222222222222229" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="88.77777777777777" y="-400" width="6.1388888888889" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="88.30555555555554" y="-400" width="5.666666666666671" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="69.88888888888889" y="-400" width="56.66666666666667" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="71.30555555555556" y="-400" width="56.66666666666664" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="70.3611111111111" y="-400" width="56.66666666666667" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="70.3611111111111" y="-400" width="56.66666666666667" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="69.41666666666667" y="-400" width="56.66666666666667" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="114.27777777777777" y="-400" width="26.44444444444443" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="81.74166666666666" y="-400" width="7.933333333333323" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="101.29166666666666" y="-400" width="6.233333333333334" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g>
		<g class="age-intervals-visualization"><rect x="90.80833333333334" y="-400" width="56.66666666666663" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/><rect x="118.00833333333333" y="-400" width="56.66666666666666" height="400" class="age-rect" style="fill: rgb(44, 160, 44); opacity: 0.0105263;"/></g></g></svg>
	  </div>
	  
	  <div style="background-color: #ffffff;
		      border-style: solid;
		      border-width: 1px;
		      padding: 7px;
		      position: absolute;
		      right: 20px;
		      top: 20px;">
	    
	    <div class="legend-entry">
	      <div class="legend-entry-line" style="background: none repeat scroll 0% 0% rgb(31, 119, 180); padding: 0px; margin-right: 10px;"></div>
	      <div class="legend-entry-label" style="color: rgb(31, 119, 180); padding: 0px; margin: 0px;">gestures</div>
	      <div style="clear: both; padding: 0px;"></div>
	    </div>
	    
	    <div class="legend-entry">
	      <div class="legend-entry-line" style="background: none repeat scroll 0% 0% rgb(255, 127, 14); padding: 0px; margin-right: 10px;"></div>
	      <div class="legend-entry-label" style="color: rgb(255, 127, 14); padding: 0px; margin: 0px;">pointing</div>
	      <div style="clear: both; padding: 0px;"></div>
	    </div>

	    <div class="legend-entry">
	      <div class="legend-entry-line" style="background: none repeat scroll 0% 0% rgb(44, 160, 44); padding: 0px; margin-right: 10px;"></div>
	      <div class="legend-entry-label" style="color: rgb(44, 160, 44); padding: 0px; margin: 0px;">reaching</div>
	      <div style="clear: both; padding: 0px;"></div>
	    </div>
	    
	  </div>

	  <div style="clear: both; text-align: center;">
	    <span style="font-style: italic;">Example:</span>
	    Visualizing the distribution of age groups for studies
	    on <em>reaching, pointing</em> and <em>gestures</em>
	  </div>
	  
	</div>
	
	<!-- End of demo snapshot -->
	
	<div>
	  Cog-Map uses a database of meta-data about scientific
	  publications, containing for example information about the
	  age groups of infants that participated in studies.
	</div>
	
	<div>
	  The above example visualization summarizes all studies
	  on <em>gestures, reaching</em> and <em>pointing</em> that
	  were published in
	  the <a href="http://onlinelibrary.wiley.com/journal/10.1111/%28ISSN%291532-7078">Infancy
	  Journal</a> (up to June 2014). The database of meta-data
	  that was used for this example was generated
	  semi-automatically: In a first step, a list of keywords was
	  automatically extracted for each article in the journal
	  archive, based on statistics of word occurrences. In a
	  second step, all publications were selected that had
	  &ldquo;gesturing&rdquo;, &ldquo;pointing&rdquo; or
	  &ldquo;reaching&rdquo; in their automatically generated list
	  of keywords. Meta-data about the studies described in the
	  selected publications was then annotated and entered into
	  the database.
	</div>
	
	<div>
	  The visualization allows to get a quick overview of the age
	  at which <em>experts believe that a certain cognitive skill
	  should be studied</em>. This is an indirect way of assessing
	  the age at which that cognitive skill typically develops in
	  infants. The automatic generation of visualizations has an
	  advantage: It reflects <em>unbiased</em> information,
	  whereas encyclopedia articles and survey articles sometimes
	  only provide a biased view on a topic. Furthermore, the
	  result of queries of the database will dynamically change
	  with the addition of more meta-data into the database.
	</div>
	
	<div>
	  You can generate a visualization using the demo below. On
	  the left you will find the list of automatically generated
	  keywords for the selected publications. When a keyword is
	  clicked, each study is displayed as a line indicating the
	  ages of the infants that participated, and a graph
	  estimating the distribution of age groups. You can combine
	  multiple keywords by holding down the Ctrl-key while
	  selecting the keywords.
	</div>
	
	<Script type="text/javascript" src="jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="d3.v3.min.js"></script>
	<script type="text/javascript" src="cogdev.js"></script>
	
	<link rel="stylesheet" type="text/css" href="demo_stylesheet.css" />

	<div id="democontainer">
	  <div id="plotcontainer">
	    <div id="svgcontainer">
	      <svg id="plotsvg">
	      </svg>
	    </div>
	  </div>
	</div>
	
	<h1>Get in Touch and Contribute</h1>

	<div>
	  We are working together with experts from different areas of
	  developmental psychology to discuss possible tools and
	  templates for the database.
	</div>
	
	<div>
	  If you want to participate or if you have questions,
	  please <a href="http://www.cog-map.org/contact.html">get in touch with us</a>.
	</div>
	
      </div>
      
