#democontainer
{
    position: static;
    box-sizing: padding-box;
    padding: 20px;
    height: 550px;
}

#plotcontainer
{
    position: relative;
    box-sizing: padding-box;
    background-color: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#svgcontainer
{
    float: right;
    background-color: #ffffff;
}

.age-distribution
{
    fill: none;
    stroke: blue;
    stroke-width: 3;
    opacity: 0.0;
}

.age-rect
{
    fill: #0000ff;
    opacity: 0.0;
}

#leftmenu
{
    box-sizing: padding-box;
    background-color: #ffffff;
    padding: 5px;
    padding-top: 35px;
    width: 235px;
}

#keyword-select
{
    width: 100%;
    height: 430px;
    padding: 5px;
}

.left-menu-button
{
    float: left;
    color: #000000;
    background: #009FE3;
    cursor: pointer;
    width: 100%;
    font: 15px arial, dotum, helvetica, sans-serif;
    height: 20px;
    vertical-align: baseline;
    text-align: center;
    margin-top: 10px;
}

.axis path,
.axis line
{
    fill: none;
    stroke: #aaaaaa;
    shape-rendering: crispEdges;
}

.axis text
{
    stroke: #000000;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

.grid path,
.grid line
{
    fill: none;
    stroke: #aaaaaa;
    shape-rendering: crispEdges;
}

.grid .minor line
{
    stroke-opacity: 0.5;
}

.grid text
{
    display: none;
}

#legend
{
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#content-container .legend-entry
{
    padding: 0px;
}

.legend-entry-label
{
    float: left;
    padding: 0px;
}

.legend-entry-line
{
    float: left;
    height: 2px;
    top: -10px;
    width: 90px;
    margin-top: 10px;
}
