
      <div id="bottom-banner" class="banner">
	<div id="bottom-logos-container">
	  <span class="bottom-sponsored-by-logo">
	    <a href="http://a-labs.aldebaran.com/">
	      <img width="279" height="97" alt="Aldebaran" src="logo-alabs.png">
	    </a>
	  </span>
	  <span class="bottom-sponsored-by-logo">
	    <a href="http://www.ensta-paristech.fr/">
	      <img width="80" height="97" alt="ENSTA" src="ensta.png">
	    </a>
	  </span>
	</div>
	<div id="bottom-sponsored-by-end"></div>
      </div>
      
    </div>
    
  </body>
  
</html>
