
  </head>

  <body>
    
    <div id="body-container">
      
      <div id="top-banner" class="banner">

	<img src="banner-image.jpg" width="155" height="150" style="float: right;" />
	
	<div id="top-logo" class="logo">
	  <div class="logo-text">
	    The Cog-Map Project
	  </div>
	</div>
	<div id="top-navigation" class="navigation-menu">
	  <a class="navigation-menu-button first" href="http://www.cog-map.org/index.html">
	    Home
	  </a>
	  <!--
	  <a class="navigation-menu-button" href="http://www.cog-map.org/icdl-epirob-2014-home.html">
	    IEEE ICDL-EpiRob 2014 Workshop
	  </a>
	  -->
	  <a class="navigation-menu-button" href="http://www.cog-map.org/contact.html">
	    Contact
	  </a>
	  <div id="top-navigation-end"></div>
	</div>
	
      </div>
      
