html
{
    overflow-y: scroll;
}

body
{
    font-family: Palatino, “Palatino Linotype”, “Palatino LT STD”, “Book Antiqua”, Georgia, serif;
    font-size: 18px;
    line-height: 1.5em;
    width: 100%;
    min-width: 960px;
    background-color: #ECF7FD;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#body-container
{
    position: relative;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    background-color: #FFFFFF;
}

#body-container a
{
    color: #000000;
}

#body-container a:hover
{
    transition: color 0.4s ease 0s;
    color: #009FE3;
}

.banner
{
    padding: 10px;
}

#top-banner
{
    /* background-color: #212629; */
    background-color: #ffffff;
    /* border-bottom: 3px solid #009FE3; */
    text-align: left;
}

#top-banner a
{
    color: #000000;
}

#bottom-banner
{
    background-color: #ffffff;
    margin-top: 50px;
    bottom: 0;
}

.logo,
.logo a
{
    color: #000000;
    vertical-align: baseline;
    text-align: left;
    text-decoration: none;
}

#top-logo
{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#bottom-logo
{
}

.logo-text
{
    font-size: 46px;
    line-height: 1.4em;
}

.sub-logo-text
{
    font-size: 22px;
    line-height: 1.4em;
}

#bottom-logo-text
{
}

#bottom-logos-container
{
    border-top: 1px solid #e1e1e1;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: -100px;
}

#bottom-banner .bottom-sponsored-by-logo img
{
    float: right;
    margin-left: 30px;
    margin-right: 30px;
}

#bottom-sponsored-by-end
{
    clear: both;
}

#content-container
{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
}

#slogan
{
    font-size: 26px;
    line-height: 2.4em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-style: italic;
    color: #7a7a7a;
}

#content-container h1
{
    margin: 40px;
    margin-top: 50px;
    margin-left: -10px;
    font-size: 36px;
    line-height: 1.4em;
    font-weight: bold;
}

#content-container h1.sub-heading
{
    font-size: 25px;
    line-height: 1.4em;
    font-weight: bold;
}

#content-container h2
{
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: -10px;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: bold;
}

#content-container div
{
    padding-bottom: 10px;
}

#content-container .ref
{
}

#content-container .ref:hover
{
}

.navigation-menu
{
    color: #ffffff;
}

#top-navigation
{
}

#top-navigation-end
{
    clear: both;
}

.navigation-menu-button
{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 16px;
    float: left;
    color: #ffffff;
    /* border-left: 1px solid #009FE3; */
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: center;
    text-decoration: none;
}

.first
{
    border-left: none;
}

.talk-description-container
{
    min-height: 300px;
    margin-bottom: 50px;
}

.speaker-photo
{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.speaker-name
{
    font-size: 26px;
    line-height: 1.4em;
    font-weight: bold;
}

.talk-title
{
    font-size: 20px;
    line-height: 1.4em;
    font-weight: bold;
    font-style: italic;
}

.abstract-container
{
}

.abstract-caption
{
    font-weight: bold;
    margin-right: 20px;
}

.abstract
{
}

.speaker-url
{
    font-weight: bold;
}

.speaker-url a
{
    font-weight: normal;
}

.evis
{
}

.einv
{
    float: right;
    visibility: hidden;
}

#content-container .eend
{
    clear: both;
    padding: 0px;
}

#content-container .quote
{
    margin: 20px;
    margin-left: 10px;
    font-style: italic;
}

#schedule-table
{
    border: none;
}

#schedule-table .schedule-time
{
    width: 100px;
    vertical-align: top;
    padding-bottom: 25px;
}

#schedule-table .schedule-description
{
    width: 600px;
    vertical-align: top;
    padding-bottom: 15px;
}

#schedule-table .schedule-pre
{
    font-weight: bold;
    padding-bottom: 0px;
}

#schedule-table .schedule-name
{
    font-weight: bold;
}

#schedule-table .schedule-talk
{
    font-style: italic;
}
